.page-list-item-options {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    padding: 2px;
    font-size: smaller;
    align-items: center;
}

.page-title {
    width: 100%;
    box-shadow: 0px 0px 1px 1px black;
    margin-top: 5px;
    border-radius: 2px;
    width: 80%;
    /* line-height: 40px; */
}

.page-title input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

.courseEditorSideBar {
    transition: width 0.7s ease;
}

.side-bar-divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-divider.mobile .side-bar-close{
    writing-mode: horizontal-tb;
    padding: 0px 10px;
}

.side-bar-close {
    writing-mode: vertical-rl;
    height: max-content;
    border: 2px solid blueviolet;
    box-sizing: border-box;
    padding: 10px 0px;
    cursor: pointer;
}

.courseEditorSideBar {
    width: 40dvw;
    overflow-y: scroll;
    padding: 5px;
}

.courseEditorSideBar .accordion-item{
    width: 100%;
}

.courseEditorSideBar.mobile{
    width: 100%;
}

.courseEditorSideBar.closed{
    width: 0dvw;
}

.course-editor-sidebar-mobile-closed{
    height: 0dvh;
}