.course-view{
    display: flex;
    background-color: white;
    height: 100dvh;
    width: 100%;
}

.course-view-sidebar{
    width: 35dvw;
    transition: all 0.7s ease;
    cursor: pointer;
}

.sidebar-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px grey;
}

.sidebar-close{
    writing-mode: vertical-rl;
    height: max-content;
    /* border: 2px solid blueviolet; */
    box-sizing: border-box;
    padding: 10px 0px;
    cursor: pointer;
}

.course-view-mobile .sidebar-close{
    writing-mode: horizontal-tb;
}

.page-viewer{
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
    /* box-shadow: -2px -2px grey,2px 2px grey; */
    width: 100%;
    /* margin-left: 10%; */
}

.page-viewer-title{
    font-size: xx-large;
    text-align: center;
}

.page-viewer-content{
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    overflow: scroll;
}

.accordion-item-title{
    font-size: large;
}

.course-view.closed .course-view-sidebar{
    width: 0dvw;
    z-index: -1;
}

.course-view-mobile{
    flex-direction: column;
}

.course-view-mobile.closed .course-view-sidebar{
    width: 0vw;
    height: 0vh;
}

.course-view-sidebar-mobile{
    width: 100%;
}

.course-view .course-view-content{
    flex: 1;
}

.course-view-mobile .course-view-content{
    width: 100%;
}

.page-viewer img{
    width: 100%;
}

.course-view-sidebar .accordion-item{
    width: 100%;
}

.forum h4{
    margin: 5px;
    text-align: center;
    font-style: italic;
}