.bottom-ribbon{
    padding: 2px;
}
.bottom-ribbon > div{
    background-color: #c091f9;
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
    cursor: pointer;
}

.editor-place-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}