.bottom-ribbon{
    padding: 2px;
}
.bottom-ribbon > div{
    background-color: #c091f9;
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
    cursor: pointer;
}

.editor-place-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.page-editor{
    display: flex;
    height: 100%;
}

.page-editor.mobile{
    flex-direction: column;
}

.page-editor .page-title{
    width: 100%;
}

.editor-container{
    height: 95dvh;
}