#root{
    background-color: rgb(254, 247, 255);
}

.create-container {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    margin-top: 5vh;
    row-gap: 2vh;
}

.solver-container > *{
    flex-basis: 0;
    flex-grow: 1;
    padding: 1rem;
    flex: 1 1 0;
}

.create-button{
    flex-basis: 5vh;
}

.solver-container{
    margin: 5vh 2vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    padding: 5vh 0;
    box-shadow: 2px 2px 10px rgb(186, 35, 246),-2px -2px 10px rgb(229, 162, 255);
}

.info{
    text-align: justify;
}

.constraint-inputs{
    width: 4vw;
}

.constraint,.non-negative-constraints-container{
    display: flex;
    justify-content: space-evenly;
}


.constraint-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solve-button{
    padding: 1vh 2vw;
}

.model-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td{
    border: 1px solid;
    text-align: center;
}

tr:nth-child(even){
    background-color: rgb(241, 255, 225);
}

tr:nth-child(odd){
    background-color: rgb(229, 229, 255);
}

tr:first-child{
    background-color: rgb(220, 160, 255);
    color: aliceblue;
    font-weight: bolder;
    text-shadow: 0px 0px 2px black;
}
